body {
	margin: 0px;
	height: 100%;
	width: 100%;
	background-image: url("!GoodShape.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ball {
	/*margin: 0px auto 0px 0px;
	float: left; These are taken care of by the orientation-specific lines blow */
	padding: 3vmax;
	text-align: center;
	font-family: sans-serif;
	font-size: 3vmin;
	height: 5vmax;
	width: 5vmax;
	border-radius: 6vmax;
	border-style: solid;
	border-width: 2vmax;
	border-color: rgba(10,50,00,0.2);
	background-color: rgba(10,50,00,0.9);
	color: #ECEBE4;
	background-clip: padding-box;
	transition: width 0.5s, height 0.5s;
	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	-o-transition: width 0.5s, height 0.5s;
	-ms-transition: width 0.5s, height 0.5s;
}
/*.ball:hover {
	width: 90vw;
}*/
@media screen and (orientation:landscape) {
	.ball {
		display: block;
		margin: 0px auto 0px 0px;
	}
	.ball:hover {
		width: 90vmax;
	}
}
@media screen and (orientation:portrait) {
	.ball {
		display: block;
		margin: 0px 0px auto 0px;
	}
	.ball:hover {
		height: 90vmax;
	}
}
