body {
	margin: 0px;
	background-color: #ECEBE4;
}
div {
	height: 5%;
	width: 5%;
	border-radius: 2.5%;
	left: 25%;
	top: 25%;
	background-color: #0A3200;
	box-shadow: 10px 5px 5px #BCBBB4;
	transition: top 0.5s;
	transition: left 0.5s;
}
