body {
	margin: 0px;
	background-color: #ECEBE4;
}
.ball {
	margin: 5px;
	padding: 25px;
	text-align: center;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border-style: solid;
	border-width: 25px;
	border-color: rgba(10,50,00,0.2);
	background-color: #0A3200;
	color: #ECEBE4;
	box-shadow:
		10px 5px 5px #BCBBB4;
	transition: width 0.5s;
	background-clip: padding-box;
}
.ball:hover {
	width: 75%;
}
